<div class="container">
    <div class="row">
        <div class="offset-md-1 col-md-4">
            <h3>ジャンル編集</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <%= form_with model: @genre, local: true do |f| %>
            <label>ジャンル名</label>
            <%= f.text_field :name %>
            <%= f.submit "変更を保存", class: "btn btn-success" %>
        </div>
    </div>
</div>