<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>
        ようこそ、ながのCAKEへ！
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない⽅も商品の閲覧はできますが、<br>
        購⼊には会員登録が必要になります。<br>
      </p>
    </div>
  </div>
</div>