<div class = "container">
  <div class= "row">

    <div class="col-md-9">
      <h2>商品一覧</h2>
      <div class = "row">
        <% @items.each do |item| %>
        <%=link_to public_item_path(item.id )do %><%#商品画像をクリックしたら詳細ページへ移動%>
          <% attachment_image_tag item, :image, fallback:"no_image.jpg", size:"150x150" %><%#商品画像%>
       <% end %>
         <p><%= item.name %></p>


         #↓税込価格表示記載?

         <p><%=item.price(unit => "¥") %>
         <% end %>
      </div>
      <div class = "col-md-３">

      <%= paginate @items %>
        </div>
    </div>
  </div>
</div>